<app-navbar></app-navbar>
<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="title">Lists</h1>
      <div class="list-menu">
        <a
          class="list-menu-item"
          *ngFor="let list of lists"
          [routerLink]="['/dashboard', list.id]"
          routerLinkActive="is-active"
        >
          <a (click)="editProjectPopUp(list.id)"
            ><i class="fas fa-pen-to-square me-2"></i
          ></a>
          <p *ngIf="!list.description">
            <strong
              ><u>{{ list.name }}</u></strong
            >
          </p>
          <p *ngIf="list.description">
            <strong
              ><u>{{ list.name }}</u></strong
            >
            <br />
            Description: {{ list.description }}
          </p>
        </a>
      </div>
      <button type="button" class="btn btn-dark" (click)="addProjectPopUp()">
        + New List
      </button>
    </div>

    <div class="task-list-container">
      <h1 class="title">Tasks</h1>
      <p class="mb-3 mt-3" *ngIf="!hasParam">
        There is currently no project selected. Please add a project or select
        one to view tasks...
      </p>
      <p class="mb-3 mt-3" *ngIf="hasParam && tasks.length === 0">
        There are currently no tasks. Please add some tasks to view them...
      </p>
      <div
        class="d-flex flex-row align-items-center justify-content-between task"
        *ngFor="let task of tasks"
        [ngClass]="{ complete: task.status }"
      >
        <div
          class="flex-column flex-grow-1"
          (click)="changeTaskStatus(task.id)"
        >
          <p class="taskName">
            <strong>{{ task.name }}</strong>
          </p>
          <p *ngIf="task.description">
            <strong>Description: </strong>{{ task.description }}
          </p>
          <p *ngIf="!task.description"></p>
          <p *ngIf="task.startDate && task.endDate">
            <strong>Start:</strong> {{ task.startDate }} <br />
            <strong>End:</strong>
            {{ task.endDate }}
          </p>
        </div>
        <div class="d-flex align-items-center ms-2">
          <a class="text-dark m-1" (click)="editTaskPopUp(task.id)"
            ><i class="fas fa-pen-to-square p-3"></i
          ></a>
          <a class="text-dark m-1" (click)="deleteTask(task.id)"
            ><i class="fas fa-trash-can p-3"></i
          ></a>
        </div>
      </div>
      <button
        class="btn circle-add-button mt-3"
        *ngIf="hasParam"
        (click)="addTaskPopUp()"
      >
        <i class="fa-solid fa-plus fa-xl text-white"></i>
      </button>
      <button
        class="btn circle-add-button mt-3"
        *ngIf="!hasParam"
        disabled
        (click)="addTaskPopUp()"
      >
        <i class="fa-solid fa-plus fa-xl text-white"></i>
      </button>
    </div>
  </div>
</div>
